<h1 align="center">Liste des clients</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr class="alternating-tr">
      <td><%= link_to user.first_name, user_path(user) %></td>
      <td><%= link_to user.last_name, user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
