<h1 align="center">Coordonnées client</h1>
<div class="well col-xs-8 col-xs-offset-2">
<h2 align="center">Prénom: <%= @user.first_name %></h2>
<br/>
<h2 align="center">Nom: <%= @user.last_name %></h2>
</div>
<h1 align="center">Commandes de ce client</h1>

<%= render 'orders/list', obj: @user.orders, list_is_full: false  %>
