<% if logged_in? %>
<h1 align="center">Bienvenue <%= current_user.first_name + " " + current_user.last_name %> !</h1>
<% else %>
<h1 align="center">Bienvenue !</h1>
</br>
<h2 align="center">(Futur) client ? Cliquez <%= link_to 'ici', login_path %></h2>
</br>
<h2 align="center">Administrateur ? Cliquez <%= link_to 'là', adminlogin_path %></h2>
<% end %>
