<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="enter in a link here">PizzeriaApp</a>
      by <a href="enter in a link here">Capsens</a>
    </small>
    <nav>
      <ul>
        <li>Tous droits reservés</li>
      </ul>
    </nav>
  </footer>
</div>
